body {
  width: 100%;
}

.theme--light.v-btn--active::before {
  opacity: 0 !important;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-flex-end {
  justify-content: flex-end;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100vh;
}

.align-flex-end {
  align-items: flex-end;
}

.loading-main {
  h3 {
    color: $primary;
    margin: 15px;
  }
}

.card-form {
  .v-card {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.v-list-item--active::before{
  opacity: 0 !important;
}
.container-main {
  .row-main {
    padding: 2em 1em;
    display: flex;
    justify-content: center;

    .list {
      h1 {
        margin-bottom: 0.8em;
      }
      .v-btn {
        margin: 0 0 2em;
      }
    }

    // Cards of forms
    .card-form {
      padding: 2em;
      display: flex;
      justify-content: center;
      .v-form {
        width: 100%;
      }
      .v-input {
        margin: 0.8em 0em;
      }
      .v-btn {
        margin: 0.8em;
      }
    }

    @media (min-width: $breakpoint-cel) {
      padding: 2em;
    }
  }
}
.primary {
  color: white !important;
}
.details {
  .v-card {
    margin-top: 1em;
  }
  .back-btn, .v-icon{
    display: flex;
    color: $primary;
    cursor: pointer;
  }
}
.submit {
  width: 95px;
}
.search {
  padding-top: 0px;
  margin-top: 0px;
}

.border-primary {
  border-color: $primary !important;
}

@media (min-width: $breakpoint-full){
  .container {
      max-width: 1185px;
  }
}